.hero-content h5{
    font: var(--headline5);
    margin-bottom: 5px;
    margin-top: 50px;

}

.hero-content h2{
    font: var(--headline2);;
    font-size: 55px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.hero-content p{
    font-size: 32px;
    font: var(--body1);
    margin-bottom: 10px;
    margin-top: 10px;
}

.hero-img{
    border-radius: 25px;
    margin-right: 50px;
    height: 500px;
    width: 380px;
}

#hero{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 150px;
}
